.wrap {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 12px;
  padding: 24px;
  border: 1px dashed #999;
}
.head {
  display: flex;
  flex-flow: column;
}
.cont {
}

.head .tit {
  font-size: 24px;
}
.head .desc {
  color: #999;
  font-size: 14px;
}
.head .link_back {
  color: gold;
  font-size: 12px;
}
