.wrap {
  display: flex;
  flex-flow: column;
  gap: 8px;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }
  & > ul {
    display: flex;
    flex-flow: row wrap;

    & > li {
      flex: 0 1 calc(33.33%);
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      width: 33.33%;
      height: 120px;
      margin: 4px;
      background-color: gold;
    }
  }
}
