$caption: (
  'size': 12px,
  'lineHeight': 18px,
);
$overline: (
  'size': 10px,
  'lineHeight': 16px,
);

$subtitle6: (
  'size': 13px,
  'lineHeight': 22px,
);

$subtitle5: (
  'size': 14px,
  'lineHeight': 24px,
);

$subtitle4: (
  'size': 15px,
  'lineHeight': 24px,
);

$subtitle3: (
  'size': 16px,
  'lineHeight': 28px,
);

$subtitle2: (
  'size': 18px,
  'lineHeight': 32px,
);

$subtitle1: (
  'size': 20px,
  'lineHeight': 34px,
);
$header6: (
  'size': 24px,
  'lineHeight': 36px,
);
$header5: (
  'size': 32px,
  'lineHeight': 48px,
);
$header4: (
  'size': 42px,
  'lineHeight': 62px,
);
$header3: (
  'size': 48px,
  'lineHeight': 72px,
);
$header2: (
  'size': 56px,
  'lineHeight': 88px,
);
$header1: (
  'size': 68px,
  'lineHeight': 102px,
);

$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
